        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">İpek Yolu Uluslararası Çocuk Ve Gençlik Çalışmaları Merkezi</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">İpek Yolu Uluslararası Çocuk ve Gençlik Çalışmaları Merkezi T.C. Cumhurbaşkanlığı Himayesinde yapılan ilk yapı projesidir. Tesisimiz uluslararası bir eğitim, öğretim ve etkinlik merkezidir.

Ülkemizdeki tüm kurumlar, kuruluşlar ve şirketler için etkinlik organizasyonu hizmeti sağlamaktayız. Merkezimiz tesislerinde, yerinde konaklama ve yemek hizmetleri de dahil olmak üzere, toplantılar, seminerler veya eğitim kursları organizasyonları yapılabilmektedir.

Merkezimiz bünyesinde toplantı salonları, konaklama, yemekhane, amfi tiyatro, çadır kamp alanı, çocuk trafik eğitim parkuru, bilişim atölyeleri, tarımsal ürün işleme atölyeleri, okçuluk alanı, at biniciliği parkuru ve İHA pisti bulunmaktadır. Tüm bu alanlarda organizasyonlarınıza ev sahipliği yapılmaktadır.</p>
                        <a class="btn btn-light btn-xl" href="/contact">Aramıza Sen De Katıl</a>
                    </div>
                </div>
            </div>
        </section>