
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Eğitimlerimiz</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2"></h3>
                            <p class="text-muted mb-0">Proje Döngüsü Yönetimi Eğitimi</p>
                            <p></p>
                            <section class="u-clearfix u-section-1" id="sec-831f">
      <div class="u-clearfix u-sheet u-sheet-1">
       <h6><a class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1" href="/telephone">SMS ile Bilgilendir</a></h6> 
       <p></p>
       <h6><a href="/mail" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Mail ile Bilgilendir</a></h6>
        <p></p>
            <a href="https://docs.google.com/forms/d/1-CSCejJ_PnfSbUzw_7_VeYPffvimUcmePs-_RMaF3qA/edit" class="u-btn u-button-style u-btn-3">Başvur</a>
        
      </div>
    </section>

                         </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2"></h3>
                            <p class="text-muted mb-0">Robotik Kodlama Eğitimi</p>
                            <p></p>
                            <section class="u-clearfix u-section-1" id="sec-831f">
      <div class="u-clearfix u-sheet u-sheet-1">
       <h6><a href="/telephone" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">SMS ile Bilgilendir</a></h6> 
       <p></p>
       <h6><a href="/mail" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Mail ile Bilgilendir</a></h6>
        <p></p>
            <a href="https://docs.google.com/forms/d/1frw8yaPzJYD5p2Moh0hHhDu8NGdu_RgqHLLda9KQuRI/edit" class="u-btn u-button-style u-btn-3">Başvur</a>
        
      </div>
    </section>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2"></h3>
                            <p class="text-muted mb-0">İHA Eğitimi</p>
                            <p></p>
                            <section class="u-clearfix u-section-1" id="sec-831f">
      <div class="u-clearfix u-sheet u-sheet-1">
       <h6><a href="/telephone" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">SMS ile Bilgilendir</a></h6> 
       <p></p>
       <h6><a href="/mail" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Mail ile Bilgilendir</a></h6>
        <p></p>
            <a href="https://docs.google.com/forms/d/1rdRX_ns42_sjyRmyhz2Chev4bm96QLHK8kXx2b2_oRA/edit" class="u-btn u-button-style u-btn-3">Başvur</a>
        
      </div>
    </section>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2"></h3>
                            <p class="text-muted mb-0">Tarımsal Ürünler Eğitimi</p>
                            <p></p>
                            <section class="u-clearfix u-section-1" id="sec-831f">
      <div class="u-clearfix u-sheet u-sheet-1">
       <h6><a href="/telephone" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">SMS ile Bilgilendir</a></h6> 
       <p></p>
       <h6><a href="/mail" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Mail ile Bilgilendir</a></h6>
        <p></p>
            <a href="https://docs.google.com/forms/d/1_NwG4xo_Gg8gRvYJjFJD_KIQ_zOVTTQJEPkWnoip8qA/edit" class="u-btn u-button-style u-btn-3">Başvur</a>
        
      </div>
    </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>